body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 1080px;
    height: 200px;
    margin: 0 auto;
}

.invisible {
    display: none;
}
.visible {
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.nav-bar {
    width: 100%;
}

.nav-bar ul{
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li a {
    margin: 0 25px;
    color: black;
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: solid lightgrey 0.5px;
}

/*DROP DOWN MENU*/

.drop-btn {
    background-color: #90bcb3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
    transition: all 0.1s ease-in;
  }

.drop-btn:hover {
    background-color: white;
    border: 1px solid #90bcb3;
    color: black;
}

.dropdown {
    position: absolute;
    top: 80px;
    z-index: 2;
}
.inside-dropdown {
    display: none;
    overflow: auto;
    background-color: rgb(245, 245, 245);
    width: 150px;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.inside-dropdown li {
    list-style-type:none;
    width: 85%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.inside-dropdown li:nth-child(odd) {
    background-color:#eaf3f2;
}

.inside-dropdown a {
    text-decoration: none;
}

.inside-dropdown a:nth-child(odd) {
    color: black;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CAROUSEL*/
.carousel img{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    object-fit: cover !important;
}

#selfie-perseverance{
    object-position: top;
}

.slick-next::before {
    color: white !important;
}
.slick-prev::before {
    color: white !important;
}

/*MAIN*/
.container-main {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

/*FEED*/
.feed-section {
    padding: 150px 0 ;
}

.feed-article {
    width: 100%;
}

.feed-article article:nth-child(even){
    background-color: rgb(243, 243, 243);
}

.flex-post {
    display: flex;
    align-items: center;
}

.flex-post h2 {
    padding-right: 300px;
}

.flex-post span {
    position: absolute;
    right: 0;
}

.content {
    display: flex;
}

.content p{
    padding-left: 20px;
}

.content img {
    width: 200px;
    height: auto;
}

.feed-article article {
    margin-top: 30px;
}

/*ICON REFRESH*/
#refresh-span {
    position: absolute;
    top: 115px;
    right: 35px;
}

.imageRefresh {
    width: 20px;
    height: auto;

}
/*ADD ARTICLE */

.feed-form{
    margin-bottom: 80px;
}
.feed-form label{
    text-align: start;
    margin-bottom: 10px;
}
.feed-form .inputs {
    width: 100%;
    text-align: center;
}
.feed-form .form-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.feed-form .form-date {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.feed-form .form-file {
    display: flex;
    flex-direction: column;
    width: 35%;
    float: right;
    margin-bottom: 20px;
}
.form-textarea #summary {
    min-width: 100%;
    min-height: 100px;
}
.feed-form .input-button {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.feed-form .input-button button {
    position: absolute;
    right: -7px;
    background-color: #90bcb3;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-width: bold;
    border: none;
    cursor: pointer;
    width: 120px;
    transition: all 0.3s ease-in;
}

.feed-form .input-button button:hover {
    background-color: white;
    border: 1px solid #90bcb3;
    color: black;
}

/*GALLERY PAGE */

.gallery {
    width: 100%;
    margin: 100px 0;
}

.gallery h2 {
    text-align: center;
}

.filters{
    position: relative;
    width: 100%;
}

.gallery-icons {
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-icons img:first-child{
    width: 30px;
    height: auto;
}
.gallery-icons img:last-child{
    width: 40px;
    height: auto;
}

.add-picture {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease all;
}
.add-picture .form {
    display: flex;
    flex-direction: column;
}

.add-picture img{
    width: 25px;
    height: auto;
    padding-right: 20px;
}

#submit-picture {
    margin: 18px 0 0 18px;
}

.div-picture-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div-picture-column{
    width: 100%;
}

.picture-row {
    width: 15%;
    height: 250px;
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.picture-column {
    width: 70%;
    margin: 30px auto;
    height: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.picture-row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.picture-column img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*FOOTER*/
.bg-footer {
    width: 100%;
    height: 200px;
    background-color: #90bcb3;
}

.footer-content {
    display: flex;
    justify-content: center;
}