body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-header {
    width: 100%;
    height: 200px;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.nav-bar {
    width: 100%;
}

.nav-bar ul{
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li a {
    margin: 0 25px;
    color: black;
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: solid lightgrey 0.5px;
}

/*MAIN*/

.container-main {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    
}

.feed-section {
    padding: 150px 0 ;
}

.feed-article {
    width: 100%;
}

.feed-article article:nth-child(even){
    background-color: rgb(243, 243, 243);
}

.flex-post {
    display: flex;
    align-items: center;
}

.flex-post h2 {
    padding-right: 300px;
}

.flex-post span {
    position: absolute;
    right: 0;
}

.content {
    display: flex;
}

.content p{
    padding-left: 20px;
}

.content img {
    width: 200px;
    height: auto;
}

.feed-article article {
    margin-top: 30px;
}


#refresh-span {
    position: absolute;
    top: 115px;
    right: 35px;
}

.imageRefresh {
    width: 20px;
    height: auto;

}
.carousel img{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    object-fit: cover !important;
}

#selfie-perseverance{
    object-position: top;
}

.slick-next::before {
   color: white !important;
}
.slick-prev::before {
    color: white !important;
 }
 

/*FOOTER*/

.bg-footer {
    width: 100%;
    height: 200px;
    background-color: #90bcb3;
}

.footer-content {
    display: flex;
    justify-content: center;
}